@mixin padding-all($max-width, $t-padding, $r-padding, $b-padding, $l-padding) {
  @media screen and (max-width: $max-width) {
    padding: $t-padding $r-padding $b-padding $l-padding;
  }
}

@mixin padding-vh($max-width, $v-padding, $h-padding) {
  @media screen and (max-width: $max-width) {
    padding: $v-padding $h-padding;
  }
}

@mixin marginFor($max-width, $v-margin, $h-margin) {
  @media screen and (max-width: $max-width) {
    margin: $v-margin $h-margin;
  }
}

@mixin gapFor($max-width, $gap) {
  @media screen and (max-width: $max-width) {
    gap: $gap;
  }
}

@mixin modal-size(
  $max-width,
  $spacing,
  $title-size,
  $subtitle-size,
  $description-size
) {
  @media screen and (max-width: $max-width) {
    padding: $spacing;
    border-radius: $spacing;
    .title-1 {
      font-size: $title-size;
    }
    .title-2 {
      font-size: $subtitle-size;
    }
    p {
      font-size: $description-size;
    }
    .close {
      top: $spacing;
      right: $spacing;
    }
  }
}

@mixin text-site($max-width, $text-size, $line-height) {
  @media screen and (max-width: $max-width) {
    font-size: $text-size;
    line-height: $text-size;
  }
}

@mixin border-style(
  $border-color-light,
  $border-color-highlight
) {
  border-color: $border-color-light;
  &:after {
    box-shadow: 0px 8px 16px rgba($border-color-light, 0.75);
  }
  &:hover {
    border-color: $border-color-highlight;
  }
}
