@mixin text-site($max-width, $text-size, $line-height) {
  @media screen and (max-width: $max-width) {
    font-size: $text-size;
    line-height: $text-size;
  }
}

@mixin border-style($border-color-light, $border-color-highlight) {
  border-color: $border-color-light;
  &:after {
    box-shadow: 0px 8px 16px rgba($border-color-light, 0.75);
  }
  &:hover {
    border-color: $border-color-highlight;
  }
}

@mixin belowBar($bar-color, $bar-width, $bar-height) {
  &:before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: $bar-height;
    border-radius: 3px;
    width: $bar-width;
    background: $bar-color;
  }
}
