// Variables
:root {
  --color-text: #222222;
  --color-text-light: #666;
  --color-text-contrast: #FFF;

  --color-primary: #CE0013;
  --color-primary-darker: #390909;
  --color-secondary: #1A1313;

  --color-background: #FCFAFA;

  --spacing-screen: 120px;
  --spacing-computer: 80px;
  --spacing-tablet: 60px;
  --spacing-mobile: 20px;
}

// Tools
@import 'tools/reset';
@import 'tools/animation';

// Views
@import 'views/index';
@import 'views/speakers';
@import 'views/sponsors';

// Modules
@import 'modules/classy_button';
@import 'modules/footer';
@import 'modules/headband';
@import 'modules/header';
@import 'modules/line';
@import 'modules/shiny_button';
@import 'modules/speaker_card';
@import 'modules/speaker_modal';
@import 'modules/sponsor_logo';
@import 'modules/title';

// Generic
// ==================
body {
  font-family: sans-serif;
  font-size: 16px;
  color: var(--color-text);
  line-height: 1.6;
  background: var(--background);
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.container {
  min-width: 335px;
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 40px var(--spacing-mobile);
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    margin: 50px var(--spacing-tablet);
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .container {
    margin: 60px var(--spacing-computer);
  }
}

@media only screen and (min-width: 1441px) {
  .container {
    margin: 70px var(--spacing-screen);
  }
}
