// Mixin
@use "base/mixins";
@use "base/vars";
// Tools
@use "tools/reset";
@use "tools/animation";

// Views
@use "views/index";
@use "views/sponsors";
@use "views/schedule";

// Modules
@use "modules/classy_button";
@use "modules/footer";
@use "modules/headband";
@use "modules/header";
@use "modules/line";
@use "modules/modal";
@use "modules/shiny_button";
@use "modules/speaker";
@use "modules/card";
@use "modules/title";
@use "modules/venue";

/* -------------------------------------------------------------------------- */
/*                                   Generic                                  */
/* -------------------------------------------------------------------------- */
body {
  font-family: sans-serif;
  font-size: vars.$text-size-medium;
  color: vars.$text-color;
  line-height: 1.6;
  background: vars.$background-color;
}

h2 {
  font-weight: vars.$text-bold-weight;
  font-size: vars.$text-size-large;
}

.container {
  margin: vars.$spacing-xx-large vars.$spacing-huge;
  @include mixins.marginFor(
    vars.$laptop-width,
    vars.$spacing-x-large,
    vars.$spacing-large
  );
  @include mixins.marginFor(
    vars.$tablet-width,
    vars.$spacing-large,
    vars.$spacing-medium
  );
  @include mixins.marginFor(
    vars.$mobile-width,
    vars.$spacing-medium,
    vars.$spacing-small
  );
}

.catch-phrase {
  margin-bottom: vars.$spacing-small;
}
