*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button {
  color: inherit;
  padding: 0;
  border: none;
  cursor: pointer;
  background: transparent;
  font-size: inherit;
}

form {
  display: block;
}

select,
input {
  font-size: inherit;
  font-family: inherit;
}

pre {
  font-family: monospace;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

textarea {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  resize: none;
}

hr {
  height: 1px;
  margin: 0;
  padding: 0;
  border: none;
}

*:focus:not(:focus-visible) {
  outline: none;
}

@keyframes slideIn {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0px);
  }
}
.index {
  background-color: pink;
}

.hero {
  background-image: url("images/index-hero.jpeg");
  background-size: cover;
  background-position: center;
  height: 400px;
}

.overlay {
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  padding: 24px;
}

.index__subtitle {
  font-size: 48px;
  margin-bottom: 24px;
  line-height: 48px;
}

.index__event-date-location {
  font-size: 24px;
}

.index__event-location {
  border-bottom: 1px solid #fff;
}

.catch-phrase {
  margin-bottom: 15px;
}

.speakers__cards {
  row-gap: 48px;
  column-gap: 24px;
}

.all-sponsors {
  gap: 40px;
}

.sponsor-kind {
  align-items: center;
}

.sponsor-kind__title {
  font-size: 32px;
}

.sponsor-kind__logos {
  gap: 16px;
}

.schedule__tab {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 10;
}

.schedule__tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
.schedule__tab button:hover {
  background-color: #ddd;
}
.schedule__tab button:active {
  background-color: #ccc;
}

.schedule__tabcontent {
  padding: 1rem;
  background-color: #fff;
  display: none;
}

.schedule__day__timeslot {
  display: flex;
}

.schedule__time {
  padding-right: 16px;
}

.schedule__time_hour {
  font-size: 1.5rem;
  margin-right: 0.25rem;
}

.schedule__time_minute {
  font-size: 1rem;
}

.schedule__day {
  display: flex;
  border-top: 1px solid #ccc;
}

@media screen and (max-width: 900px) {
  .schedule__day__timeslot {
    display: block;
  }
}
.classy-button {
  color: #222222;
  font-weight: 500;
  border-radius: 4px;
  padding: 10px 30px;
  transition: background-color 0.5s, color 0.5s;
}
.classy-button:hover {
  background-color: #222222;
  color: #fff;
  cursor: pointer;
}

.classy-button--important {
  border: 1px solid #ce0013;
  color: #ce0013;
}
.classy-button--important:hover {
  background-color: #ce0013;
}

.footer {
  background-color: #1a1313;
  color: #fff;
  gap: 32px;
}

.footer__summary .logo {
  height: 32px;
}

.footer__summary__description {
  width: 330px;
  line-height: 1.2;
}

.footer__newsletter__title {
  font-size: 24px;
  text-align: right;
}

.footer__newsletter {
  justify-content: space-between;
}

.footer__newsletter__description {
  text-align: right;
  font-weight: normal;
}

.footer__social svg {
  height: 32px;
}
.footer__social .twitter, .footer__social .linkedin__background {
  fill: #fff;
}
.footer__social .linkedin__foreground {
  fill: #1a1313;
}

@media screen and (max-width: 800px) {
  .footer__container {
    flex-direction: column;
    gap: 32px;
  }
  .footer__newsletter__form {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 384px) {
  .footer__newsletter {
    align-items: center;
  }
  .footer__newsletter__form {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 768px) {
  .footer {
    padding: 40px 24px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .footer {
    padding: 50px 64px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .footer {
    padding: 60px 80px;
  }
}
@media only screen and (min-width: 1441px) {
  .footer {
    padding: 70px 112px;
  }
}
.headband {
  align-items: center;
  height: 28px;
  background-color: #390909;
  padding: 8px 16px;
}

.headband__information {
  color: #fff;
  font-size: 12px;
}

header {
  background-color: #1a1313;
  color: #fff;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links,
.navbar-links-tablet,
.navbar-links-mobile {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar-links-tablet,
.navbar-links-mobile {
  justify-content: space-between;
}

.navbar-links {
  justify-content: center;
}

.navbar-links-mobile-buttons {
  flex-direction: row;
  align-items: center;
  color: #fff;
}

.navbar-tablet-view {
  height: auto;
}

.header__navbar__link {
  text-transform: uppercase;
  padding: 8px 16px;
  vertical-align: middle;
}
.header__navbar__link:hover {
  background-color: #390909;
  border-bottom: 5px solid #ce0013;
  cursor: pointer;
}

.header__call-to-action {
  background-color: #ce0013;
  border-radius: 10px;
  padding: 5px 15px;
  transition: background-color 0.5s, color 0.5s;
}
.header__call-to-action:hover {
  background-color: #fff;
  color: #222222;
  cursor: pointer;
}

header .logo {
  height: 28px;
}
header .logo:hover {
  cursor: pointer;
}

.header__sidenav {
  width: 128px;
  position: fixed;
  z-index: 1;
  top: 82px;
  right: 24px;
  background-color: #e8e8e8;
  color: #222222;
  border-radius: 4px;
}

.header__burger {
  display: block;
  width: 32px;
  height: 32px;
  margin: 6px 0;
}

.line, .line--colored, .line--contrasted {
  width: 100%;
  background-color: #222222;
}

.line--contrasted {
  background-color: #fff;
}

.line--colored {
  background-color: #ce0013;
}

.shiny-button {
  background-color: #ce0013;
  border-radius: 4px;
  padding: 8px 16px;
  text-transform: uppercase;
  transition: background-color 0.5s, color 0.5s;
}
.shiny-button:hover {
  background-color: #fff;
  color: #222222;
  cursor: pointer;
}

.speaker-card {
  position: relative;
  height: 380px;
  width: 270px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.speaker-card:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease-in-out;
}
.speaker-card:hover {
  cursor: pointer;
  transform: translateY(-5px);
}
.speaker-card:hover::after {
  opacity: 1;
}

.speaker-card__photo {
  height: 65%;
  background-color: #ecebeb;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.speaker-card__information {
  height: 35%;
  margin: 20px;
}

.speaker-card__headband {
  display: flex;
  justify-content: space-between;
}

.speaker-card__presentation {
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 0px 10px;
  margin-bottom: 15px;
}

.presentation-lightning {
  color: #00a300;
  background-color: rgba(0, 163, 0, 0.4);
}

.presentation-talk {
  color: #006bce;
  background-color: rgba(0, 107, 206, 0.4);
}

.presentation-keynote {
  color: #ce0013;
  background-color: rgba(206, 0, 19, 0.4);
}

.speaker-card__name {
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
}

.speaker-card__job {
  line-height: 19px;
}

.speaker-card__company {
  line-height: 19px;
}

.speaker-card__talk__name {
  margin-bottom: 20px;
}

.speaker-modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fcfafa;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slideIn 0.25s;
}

.speaker-modal__container {
  width: 800px;
  gap: 60px;
}

.speaker-modal__close {
  position: absolute;
  left: 50px;
  top: 50px;
  font-size: 80px;
  line-height: 20px;
  color: #222222;
  transition: opacity 0.5s, font-size 0.5s, left 0.5s, top 0.5s;
}
.speaker-modal__close:hover {
  opacity: 0.8;
  font-size: 64px;
  left: 52px;
  top: 52px;
  cursor: pointer;
}

.speaker-modal__header {
  display: flex;
  align-items: center;
  gap: 60px;
}

.speaker-modal__photo {
  object-fit: cover;
  border-radius: 125px 125px 10px 125px;
}

.speaker-modal__speaker__name {
  font-weight: 700;
  font-size: 96px;
  line-height: 110px;
  color: #390909;
}

.speaker-modal__speaker__job, .speaker-modal__speaker__company {
  font-weight: 400;
  font-size: 64px;
  line-height: 60px;
  color: #222222;
}

.speaker-modal__section__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 70px;
  color: #390909;
}

.sponsor-logo-love, .sponsor-logo-community, .sponsor-logo-silver, .sponsor-logo-gold, .sponsor-logo-platinum {
  width: auto;
}

.sponsor-logo-platinum {
  height: 160px;
}

.sponsor-logo-gold {
  height: 128px;
}

.sponsor-logo-silver {
  height: 96px;
}

.sponsor-logo-community {
  height: 96px;
}

.sponsor-logo-love {
  height: 64px;
}

.empty-talk-card,
.talk-card {
  flex: 1;
  min-width: 128px;
  margin: 16px;
  padding: 16px;
}

.talk-card {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.talk-card:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  border-radius: 10px;
  margin-left: -16px;
  margin-top: -16px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease-in-out;
}
.talk-card:hover {
  cursor: pointer;
  transform: translateY(-5px);
}
.talk-card:hover::after {
  opacity: 1;
}

.talk-card__body {
  margin-left: 16px;
  margin-right: 16px;
}

.talk-card__footer {
  display: flex;
  justify-content: space-between;
}

.talk-card__description {
  display: flex;
  flex-direction: column;
}

.talk-card__title {
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  font-weight: 700;
  font-size: large;
}

.talk-card__room {
  color: #666;
  font-size: medium;
}

.talk-card__speaker {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.talk-card__speaker-photo {
  height: 48px;
  width: 48px;
  border-radius: 24px;
  margin-right: 8px;
  object-fit: cover;
}

.talk-card__speaker-name {
  font-size: medium;
}

.talk-card__speaker-company {
  font-size: small;
}

@media screen and (max-width: 900px) {
  .talk-card__room {
    font-size: small;
    rotate: 90deg;
  }
}
.title {
  font-size: 50px;
  line-height: 68px;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}

.title:before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 6px;
  border-radius: 3px;
  width: 60%;
  background: #ce0013;
  z-index: -1;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  color: #222222;
  line-height: 1.6;
  background: #fcfafa;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

.container {
  min-width: 335px;
}

.catch-phrase {
  margin-bottom: 16px;
}

.flex-spacing-small, .sponsors__buttons, .footer__newsletter__form,
.footer__socials, .navbar-links-mobile-buttons {
  display: flex;
  gap: 8px;
}

.all-sponsors,
.sponsor-kind, .footer, .footer__newsletter, .navbar-tablet-view, .speaker-card, .speaker-card__information, .speaker-modal__container, .speaker-modal__title {
  display: flex;
  flex-direction: column;
}

.flex-center, .flex-center-wrap, .speakers__cards, .sponsor-kind__logos, .hero, .overlay {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__container, .headband {
  display: flex;
  justify-content: space-between;
}

.flex-center-wrap, .speakers__cards, .sponsor-kind__logos {
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 40px 24px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    margin: 50px 64px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .container {
    margin: 60px 80px;
  }
}
@media only screen and (min-width: 1441px) {
  .container {
    margin: 70px 112px;
  }
}

/*# sourceMappingURL=output.scss.map */
