@keyframes slideIn {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes rotate180 {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
