$text-color: #222222;
$text-color-light: #666;
$text-color-contrast: #fff;
$text-background-light: #ccc;

$main-color-lighter: #f7b5b5;
$main-color: #ce0013;
$main-color-darker: #390909;
$secondary-color: #1a1313;

$prez-short-color: #8c00ce;
$prez-indigo-color: #4b0082;
$prez-talk-color: #006bce;
$prez-lightning-color: #00a300;
$prez-yellow-color: #ffcc00;
$prez-workshop-color: #ff8c00;
$prez-keynote-color: #cf0013;

$background-color: #fcfafa;

$mobile-width: 425px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1440px;

$spacing-x-small: 8px;
$spacing-small: 16px;
$spacing-medium: 24px;
$spacing-large: 32px;
$spacing-x-large: 40px;
$spacing-xx-large: 48px;
$spacing-huge: 64px;
$spacing-x-huge: 80px;
$spacing-xxx-huge: 112px;

$text-size-small: 12px;
$text-size-medium: 16px;
$text-size-large: 24px;
$text-size-x-large: 32px;
$text-size-xx-large: 40px;
$text-size-xxx-large: 48px;
$text-size-huge: 64px;
$text-size-x-huge: 80px;
$text-size-xx-huge: 96px;

$b-radius-4: 4px;
$b-radius-8: 8px;
$b-radius-16: 16px;
$b-radius-24: 24px;

$text-bold-weight: 700;

$title-line-height: 68px;

$headband-height: 28px;

$card-social-logo-height: 24px;
$footer-logo-height: 32px;
