@use "sass:math";
@use "../base/vars";
@use "../base/mixins";

.index {
  .hero {
    height: calc(100lvh - vars.$header-height);
    font-size: 2em;
    line-height: 1em;

    @media screen and (min-width: vars.$mobile-width) {
      font-size: 3em;
    }
    @media screen and (min-width: vars.$laptop-width) {
      font-size: 4em;
    }

    .event-date-location {
      font-size: 0.66em;
    }

    button {
      font-size: 0.5em;
    }
  }


  .card-container {
    justify-items: center;

    &.with-global-template {
      grid-template: auto / repeat(auto-fill, minmax(min(250px, 100%), 1fr));
    }

    .job {
      font-size: 0.8em;
    }
  }

  #tickets > p {
    margin: 1rem 0;
  }

  #tickets > div {
    display: flex;
    gap: 1rem;
    color: vars.$text-color-contrast;
  }

  #previous-sponsors {
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, min(100%, 10em));
  }
}
