@use "sass:math";
@use "../base/vars";
@use "../base/mixins";

.hero {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
  background-size: cover;
  background-position: center;
  height: auto;
  position: relative;
  
  .overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    padding: vars.$spacing-medium;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .title {
    font-size: vars.$text-size-xxx-large;
    margin-bottom: vars.$spacing-medium;
    line-height: vars.$text-size-xxx-large;
    @include mixins.text-site(
      vars.$desktop-width,
      vars.$text-size-huge,
      vars.$text-size-huge
    );
    @include mixins.text-site(
      vars.$laptop-width,
      vars.$text-size-xxx-large,
      vars.$text-size-xxx-large
    );
    @include mixins.text-site(
      vars.$tablet-width,
      vars.$text-size-xx-large,
      vars.$text-size-xx-large
    );
    @include mixins.text-site(
      vars.$mobile-width,
      vars.$text-size-x-large,
      vars.$text-size-x-large
    );
  }
  
  .event-date-location {
    font-size: vars.$text-size-large;
  }
  
  .event-location {
    border-bottom: 1px solid vars.$text-color-contrast;
  }
}


.index {
  
  .yurplan-container {
    margin-top: vars.$spacing-large;
    margin-bottom: vars.$spacing-large;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    iframe {
      width: 100%;
      max-width: 800px;
      height: 540px;
      border: none;
    }
  }
}

.stats {
  display: grid;
  gap: 32px 16px;
  grid-template-columns: repeat(2, 1fr);


  .stat-number {
    font-size: vars.$text-size-xx-large;
    font-weight: bold;
  }

  .stat-text {
    font-size: vars.$text-size-large;
  }
}
