@use "sass:math";
@use "../base/vars";
@use "../base/mixins";

.hero {
  height: calc(100dvh - vars.$header-height);
  .event-date-location {
    font-size: vars.$text-size-large;
  }

  .event-location {
    border-bottom: 1px solid vars.$text-color-contrast;
  }
}
.index {
  .tickets {
    margin-top: vars.$spacing-large;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 64px;

    .yurplan-container {
      flex: 1;
      display: flex;
      min-width: 272px;
      flex-direction: column;
      align-items: center;

      iframe {
        border: 1px solid vars.$main-color;
        border-radius: 16px;
        width: 100%;
        min-height: 590px;
        height: 100%;
      }
    }
    .group-ticket {
      border: 1px solid vars.$main-color;
      border-radius: 16px;
      padding: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      p {
        color: vars.$text-color-light;
        font-style: italic;

        .small {
          font-size: small;
        }
      }
      h3 {
        font-size: x-large;
      }

      > svg {
        width: 64px;
      }

      div > svg {
        fill: vars.$main-color;
        width: 16px;
        vertical-align: middle;
        margin-right: 16px;
      }

      div {
        width: 100%;
        text-align: left;
      }

      a {
        margin: 16px 0;
      }
    }
  }
  .card-container {
    justify-items: center;
    grid-template: auto / repeat(auto-fill, minmax(min(250px, 100%), 1fr));
  }
}
