.schedule__tab {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 10;
}

.schedule__tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;

  &:hover {
    background-color: #ddd;
  }

  &:active {
    background-color: #ccc;
  }
}

.schedule__tabcontent {
  padding: 1rem;
  background-color: #fff;
  display: none;
}

.schedule__day__timeslot {
  display: flex;
}

.schedule__time {
  padding-right: 16px;
}

.schedule__time_hour {
  font-size: 1.5rem;
  margin-right: 0.25rem;
}

.schedule__time_minute {
  font-size: 1rem;
}

.schedule__day {
  display: flex;
  border-top: 1px solid #ccc;
}

@media screen and (max-width: 900px) {
  .schedule__day__timeslot {
    display: block;
  }
  
}