@use "../base/vars";

.schedule {
  .blank-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 32px;
    &::after {
      margin-left: 0px;
    }
  }

  .timeslot {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ccc;
    padding-top: 16px;
    margin-top: 16px;

    > div:first-child {
      margin-right: 16px;
    }

    .talk-card,
    .blank-card {
      flex: 1;
      min-width: min(250px, 100%);
    }
  }

  .talk-card .footer {
    @media screen and (min-width: vars.$tablet-width) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .break > span {
    display: flex;
    align-items: center;
  }

  .break > span > span:first-child {
    font-size: xx-large;
    margin-right: 4px;
  }

  .track-room {
    font-size: 1.5rem;
    text-align: center;
  }

  .day-view {
    display: grid;
    grid-template-columns: 3em 1fr;
    width: 100%;
    row-gap: 2em;
    column-gap: 1em;
  }

  .timeslot-talks {
    display: grid;
    grid-template: auto / 1fr;
    gap: 1em;

    .presentation-keynote {
      grid-column: span 3;
    }

    .break {
      grid-column: span 2;
    }

    .end-day {
      grid-column: span 3;
    }

    @media screen and (min-width: vars.$tablet-width) {
      grid-template: auto / repeat(3, 1fr);
    }
  }
}

.hours {
  text-align: right;
  font-size: 1.25em;

  @media screen and (min-width: vars.$mobile-width) {
    font-size: 1.5em;
  }
  @media screen and (min-width: vars.$tablet-width) {
    font-size: 2em;
  }

  .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    > span {
      font-size: 0.8em;
    }
  }
}

.time {
  text-align: end;

  .hour {
    margin-right: 0.25em;
  }

  .minute {
    font-size: 0.666em;
  }
}
