@use "../base/vars";

.speakers__cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: vars.$spacing-xx-large;
  column-gap: vars.$spacing-medium;
}
