@use "../base/vars" as vars;

.sponsors__buttons {
  display: flex;
  gap: vars.$spacing-x-small;
  margin-top: 1em;
}
.sponsor-kind {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: vars.$text-size-x-large;
  }

  > .card-container.partner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 32px;
  }
}

%sponsor-logo {
  flex: 1;
}

.sponsor-logo-platinum {
  @extend %sponsor-logo;
  height: 100px;
  fill: vars.$text-color;
}

.sponsor-logo-gold {
  @extend %sponsor-logo;
  height: 80px;
}

.sponsor-logo-silver {
  @extend %sponsor-logo;
  height: 70px;
}

.sponsor-logo-partner {
  @extend %sponsor-logo;
  height: 50px;
}

.sponsor-logo-community {
  @extend %sponsor-logo;
  height: 50px;
}
.sponsor-logo-love {
  @extend %sponsor-logo;
  height: 50px;
}

#previous-sponsors {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

#previous-sponsors > div {
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, min(100%, 10em));
}
