@use "../base/vars";

.sponsors__buttons {
  display: flex;
  gap: vars.$spacing-x-small;
}

.all-sponsors {
  display: flex;
  flex-direction: column;
  gap: vars.$spacing-x-large;
}

.sponsor-kind {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsor-kind__title {
  font-size: vars.$text-size-x-large;
}

.sponsor-kind__logos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: vars.$spacing-small;
}

%sponsor-logo {
  flex: 1;
}
.sponsor-logo-platinum {
  @extend %sponsor-logo;
  height: 80px;
  fill: vars.$text-color;
}

.sponsor-logo-gold {
  @extend %sponsor-logo;
  height: 70px;
}

.sponsor-logo-silver {
  @extend %sponsor-logo;
  height: 50px;
}

.sponsor-logo-community {
  @extend %sponsor-logo;
  height: 40px;
}

.sponsor-logo-love {
  @extend %sponsor-logo;
  height: 30px;
}
