@use "../base/vars";
@use "../base/mixins";

$card-padding: 16px;

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: vars.$spacing-large;
  margin: vars.$spacing-small;
}

%card {
  position: relative;
  display: flex; // Needed for the shadow on hovering
  flex-direction: column;
  align-items: stretch;
  transition: all 0.3s ease-in-out;

  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  @include mixins.border-style(
    vars.$main-color-lighter,
    vars.$main-color
  );

  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
  }

  &:hover::after {
    opacity: 1;
  }

  .presentation-lightning,
  .presentation-talk,
  .presentation-keynote {
    font-size: vars.$text-size-small;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 2px 10px;
  }

  .presentation-lightning {
    color: vars.$prez-lightning-color;
    background-color: rgba(0, 163, 0, 0.4);
  }

  .presentation-talk {
    color: vars.$prez-talk-color;
    background-color: rgba(0, 107, 206, 0.4);
  }

  .presentation-keynote {
    color: vars.$prez-keynote-color;
    background-color: rgba(206, 0, 19, 0.4);
  }
}

.card-title {
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: vars.$spacing-x-small;
  font-weight: 700;
  font-size: large;
}

%talk-card-base {
  min-width: 250px;
  padding: $card-padding;
}

.empty-talk-card,
.talk-card {
  @extend %talk-card-base;
}

.talk-card {
  @extend %card;

  &:after {
    margin-left: -16px;
    margin-top: -16px;
  }

  .card-body {
    padding: 0px $card-padding;
  }

  .talk-description {
    display: flex;
    flex-direction: column;
  }

  .room {
    color: vars.$text-color-light;
    font-size: medium;
    text-align: right;
  }

  .talk-speakers {
    display: flex;
    flex-direction: column;
    gap: vars.$spacing-small;
    margin-top: vars.$spacing-small;
  }

  .talk-speaker {
    display: flex;
    align-items: center;

    .speaker-photo {
      height: 48px;
      width: 48px;
      border-radius: 24px;
      margin-right: 8px;
      object-fit: cover;
    }

    .speaker-name {
      font-size: medium;
    }

    .speaker-company {
      font-size: small;
    }
  }
}

.unassigned {
  .talk-card {
    flex: 0 1 0;
    justify-content: space-between;
  }
}

%speaker-card-base {
  min-width: 128px;
  max-width: 250px;
}

.speaker-card {
  @extend %card;
  @extend %speaker-card-base;
  padding: $card-padding;
  justify-content: space-between;
  flex-grow: 1;

  &:after {
    margin-left: -16px;
    margin-top: -16px;
  }

  .speaker-photo {
    background-color: #ecebeb;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    max-height: 220px;
  }

  .speaker-information {
    margin-top: 20px;
  }

  .speaker-headband {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: vars.$spacing-small;
  }

  .speaker-socials {
    display: flex;
    gap: vars.$spacing-x-small;
    svg {
      display: block;
      height: vars.$card-social-logo-height;
    }
  }
}

.card-link {
  display: flex;
  justify-content: end;
  margin-top: 8px;
  margin-left: auto;
  svg {
    width: 16px;
    margin-left: 4px;
  }
}

.sponsor-card {
  @extend %card;
}
