@use "../base/vars";
@use "../base/mixins";

$card-padding: 16px;

.card-container {
  display: grid;
  gap: 64px;
  margin: vars.$spacing-small;
}

%card-base {
  position: relative;
  display: flex; // Needed for the shadow on hovering
  flex-direction: column;
  align-items: stretch;
  transition: all 0.3s ease-in-out;
  width: 100%;
  padding: $card-padding;

  border-width: 1px;
  border-style: solid;
  border-radius: 10px;

  &:after {
    margin-left: -16px;
    margin-top: -16px;
  }

  .card-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include mixins.border-style(vars.$main-color, vars.$main-color-lighter);
}

%card-action {
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    transform: translateY(-5px);
  }

  &:hover::after {
    opacity: 1;
  }
}

span.presentation-lightning,
span.presentation-short,
span.presentation-talk,
span.presentation-keynote {
  font-size: vars.$text-size-small;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 4px;
}

span.presentation-lightning {
  color: vars.$prez-lightning-color;
  background-color: rgba(0, 163, 0, 0.4);
}

span.presentation-short {
  color: vars.$prez-short-color;
  background-color: rgba(140, 0, 206, 0.4);
}

span.presentation-talk {
  color: vars.$prez-talk-color;
  background-color: rgba(0, 107, 206, 0.4);
}

span.presentation-keynote {
  color: vars.$prez-keynote-color;
  background-color: rgba(206, 0, 19, 0.4);
}

.card-title {
  span > span {
    margin-left: vars.$spacing-small;
  }
  &:first-child {
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 4px;
    font-weight: 700;
    font-size: large;
  }
}

.blank-card,
.talk-card {
  @extend %card-base;

  padding: $card-padding;

  @media screen and (min-width: vars.$mobile-width) {
    min-width: min(282px, 100%);
  }
}

.blank-card {
  @include mixins.border-style(vars.$text-color-light, vars.$text-color);

  height: vars.$spacing-xxx-huge;

  > div {
    max-height: 100%;
  }

  svg {
    width: 100%;
  }
}

.talk-card {
  @extend %card-action;

  justify-content: space-between;

  .card-subtitle {
    span {
      padding: 4px;
    }
  }

  .card-body {
    padding: 0px $card-padding;
    max-height: 200px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }
  }

  .card-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: vars.$spacing-small;
  }

  .room {
    color: vars.$text-color-light;
    font-size: medium;
    text-align: right;
  }

  .talk-speaker {
    display: flex;
    align-items: center;

    .speaker-photo {
      height: 48px;
      width: 48px;
      border-radius: 18px;
      margin-right: 8px;
      object-fit: cover;
    }

    .speaker-name {
      font-size: medium;
    }

    .speaker-company {
      font-size: small;
    }
  }
}

.talk-card.presentation-lightning {
  @include mixins.border-style(
    vars.$prez-lightning-color,
    vars.$prez-lightning-color
  );
}
.talk-card.presentation-short {
  @include mixins.border-style(vars.$prez-short-color, vars.$prez-short-color);
}
.talk-card.presentation-talk {
  @include mixins.border-style(vars.$prez-talk-color, vars.$prez-talk-color);
}
.talk-card.presentation-keynote {
  @include mixins.border-style(
    vars.$prez-keynote-color,
    vars.$prez-keynote-color
  );
}

.speaker-card {
  @extend %card-base;
  @extend %card-action;

  min-width: 128px;
  max-width: 250px;
  justify-content: space-between;
  flex-basis: 100%;

  .speaker-photo {
    background-color: #ecebeb;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    max-height: 220px;
  }

  .speaker-information {
    margin-top: 20px;
  }

  .card-subtitle {
    margin-bottom: vars.$spacing-small;
  }

  .speaker-socials {
    display: flex;
    gap: vars.$spacing-x-small;
    svg {
      display: block;
      height: vars.$card-social-logo-height;
    }
  }
}

.card-link {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-left: auto;
  svg {
    width: 16px;
    margin-left: 4px;
  }
}

.sponsor-card {
  @extend %card-base;
  @extend %card-action;
}
