@use "../base/vars";
@use "../base/mixins";

$card-padding: 16px;

.card-container {
  display: grid;
  column-gap: 32px;
  row-gap: 64px;
  margin: 24px;
}

%card-base {
  position: relative;
  display: flex; // Needed for the shadow on hovering
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  transition: all 0.3s ease-in-out;
  width: 100%;
  padding: $card-padding;

  border-width: 1px;
  border-style: solid;
  border-radius: 10px;

  &:after {
    margin-left: -1 * $card-padding;
    margin-top: -1 * $card-padding;
  }

  .title {
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 4px;
    font-weight: 700;
    font-size: large;
  }

  .subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include mixins.border-style(vars.$main-color, vars.$main-color-lighter);
}
%card-effects {
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    transform: translateY(-5px);
  }

  &:hover::after {
    opacity: 1;
  }
}
span.presentation-lightning,
span.presentation-short,
span.presentation-talk,
span.presentation-keynote {
  font-size: vars.$text-size-small;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 4px;
}

span.presentation-lightning {
  color: vars.$prez-lightning-color;
  background-color: rgba(0, 163, 0, 0.1);
}
span.presentation-short {
  color: vars.$prez-short-color;
  background-color: rgba(140, 0, 206, 0.1);
}
span.presentation-talk {
  color: vars.$prez-talk-color;
  background-color: rgba(0, 107, 206, 0.1);
}
span.presentation-keynote {
  color: vars.$prez-keynote-color;
  background-color: rgba(206, 0, 19, 0.1);
}
.blank-card {
  @extend %card-base;
  @include mixins.border-style(vars.$text-color-light, vars.$text-color);

  height: vars.$spacing-xxx-huge;

  > div {
    max-height: 100%;
  }

  svg {
    width: 100%;
  }
}
.talk-card {
  @extend %card-base;
  @extend %card-effects;

  .subtitle {
    span {
      padding: 4px;
    }
  }

  .body {
    padding: 0 $card-padding;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    width: 100%;
    gap: 8px;

    .classy-button {
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .room {
    color: vars.$text-color-light;
    font-size: medium;
    text-align: right;
  }
  .speaker {
    display: flex;
    align-items: center;

    .photo {
      height: 48px;
      width: 48px;
      border-radius: 18px;
      margin-right: 8px;
      object-fit: cover;
    }

    .name {
      font-size: medium;
    }

    .company {
      font-size: small;
    }
  }

  &.presentation-lightning {
    @include mixins.border-style(
      vars.$prez-lightning-color,
      vars.$prez-lightning-color
    );
  }

  &.presentation-short {
    @include mixins.border-style(
      vars.$prez-short-color,
      vars.$prez-short-color
    );
  }

  &.presentation-talk {
    @include mixins.border-style(vars.$prez-talk-color, vars.$prez-talk-color);
  }

  &.presentation-keynote {
    @include mixins.border-style(
      vars.$prez-keynote-color,
      vars.$prez-keynote-color
    );
  }
}
.speaker-card {
  @extend %card-base;
  @extend %card-effects;

  min-width: 128px;
  max-width: 250px;
  flex-basis: 100%;

  .photo {
    background-color: #ecebeb;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    max-height: 220px;
  }

  .body {
    margin-top: 20px;
  }

  .subtitle {
    margin-bottom: vars.$spacing-small;
  }

  .socials {
    display: flex;
    gap: vars.$spacing-x-small;

    svg {
      display: block;
      height: vars.$card-social-logo-height;
    }
  }
}
.link {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-left: auto;

  svg {
    width: 16px;
    margin-left: 4px;
  }
}
.sponsor-card {
  @extend %card-base;
  @extend %card-effects;
}
