@use "../base/vars";

.classy-button {
  color: vars.$text-color;

  font-weight: 500;
  border-radius: 4px;
  padding: 10px 30px;

  &:hover {
    background-color: vars.$text-color;
    color: vars.$text-color-contrast;
    cursor: pointer;
  }

  transition: background-color .5s, color .5s;
}

.classy-button--important {
  border: 1px solid vars.$main-color;
  color: vars.$main-color;

  &:hover {
    background-color: vars.$main-color;
  }
}
