.classy-button {
  color: $text-color;

  font-weight: 500;
  border-radius: 4px;
  padding: 10px 30px;

  &:hover {
    background-color: $text-color;
    color: $text-color-contrast;
    cursor: pointer;
  }

  transition: background-color .5s, color .5s;
}

.classy-button--important {
  border: 1px solid $main-color;
  color: $main-color;

  &:hover {
    background-color: $main-color;
  }
}
