@use "../base/vars";
@use "../base/mixins";

.faq {
  .question:not(:first-of-type) {
    margin-top: 16px;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
  }

  a {
    color: vars.$main-color;
  }

  .logos {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    padding: 8px 32px;
    gap: 32px;

    img,
    svg {
      height: 64px;
    }

    a {
      display: block;
    }
  }
  .organizers {
    display: grid;
    grid-template: auto / repeat(auto-fill, minmax(min(250px, 100%), 1fr));
    justify-items: start;

    .orga {
      display: flex;
      flex-direction: row;
      width: auto;

      .photo {
        height: 100%;
        max-height: 80px;
        width: 80px;
        border-radius: 50%;
        object-fit: cover;
      }

      > div {
        margin-left: 8px;

        p:first-of-type {
          font-weight: bold;
        }

        svg {
          width: 16px;
          margin-right: 8px;
        }
      }
    }
  }
}
