.footer {
  background-color: var(--color-secondary);
  color: var(--color-text-contrast);
  padding: 40px var(--spacing-computer);
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__summary .logo {
  height: 28px;
}

.footer__summary__description {
  width: 330px;
  line-height: 1.2;
}

.footer__newsletter__title {
  font-size: 24px;
  text-align: right;
}

.footer__newsletter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__newsletter__description {
  text-align: right;
  font-weight: normal;
}

.footer__newsletter__form {
  display: flex;
  gap: 10px;
}

.footer__socials {
  display: flex;
  gap: 10px;
}

.footer__social svg {
  height: 18px;
}

.footer__social .twitter {
  fill: var(--color-text-contrast);
}

.footer__social .linkedin__background {
  fill: var(--color-text-contrast);
}

.footer__social .linkedin__foreground {
  fill: var(--color-secondary);
}

@media screen and (max-width: 800px) {
  .footer__container {
    flex-direction: column;
    gap: 40px;
  }
  .footer__newsletter__form {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 384px) {
  .footer__newsletter {
    align-items: center;
  }
  .footer__newsletter__form {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    padding: 40px var(--spacing-mobile);
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .footer {
    padding: 50px var(--spacing-tablet);
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .footer {
    padding: 60px var(--spacing-computer);
  }
}

@media only screen and (min-width: 1441px) {
  .footer {
    padding: 70px var(--spacing-screen);
  }
}
