.footer {
  @extend .flex-column;
  background-color: $secondary-color;
  color: $text-color-contrast;
  gap: $spacing-large;
}

.footer__container {
  @extend %flex-between;
}

.footer__summary .logo {
  height: $footer-logo-height;
}

.footer__summary__description {
  width: 330px;
  line-height: 1.2;
}

.footer__newsletter__title {
  font-size: $text-size-large;
  text-align: right;
}

.footer__newsletter {
  @extend .flex-column;
  justify-content: space-between;
}

.footer__newsletter__description {
  text-align: right;
  font-weight: normal;
}

.footer__newsletter__form,
.footer__socials {
  @extend .flex-spacing-small;
}

.footer__social {
  svg {
    height: $footer-logo-height;
  }

  .twitter, .linkedin__background {
    fill: $text-color-contrast;
  }

  .linkedin__foreground {
    fill: $secondary-color;
  }
}

@media screen and (max-width: 800px) {
  .footer__container {
    flex-direction: column;
    gap: $spacing-large;
  }
  .footer__newsletter__form {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 384px) {
  .footer__newsletter {
    align-items: center;
  }
  .footer__newsletter__form {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    padding: 40px $spacing-medium;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .footer {
    padding: 50px $spacing-huge;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .footer {
    padding: 60px $spacing-x-huge;
  }
}

@media only screen and (min-width: 1441px) {
  .footer {
    padding: 70px $spacing-xxx-huge;
  }
}
