header {
  background-color: $secondary-color;
  color: $text-color-contrast;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links,
.navbar-links-tablet,
.navbar-links-mobile {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar-links-tablet,
.navbar-links-mobile {
  justify-content: space-between;
}

.navbar-links {
  justify-content: center;
}

.navbar-links-mobile-buttons {
  @extend .flex-spacing-small;
  flex-direction: row;
  align-items: center;
  color: #fff;
}

.navbar-tablet-view {
  @extend .flex-column;
  height: auto;
}

.header__navbar__link {
  text-transform: uppercase;
  padding: $spacing-x-small $spacing-small;
  vertical-align: middle;

  &:hover {
    background-color: $main-color-darker;
    border-bottom: 5px solid $main-color;
    cursor: pointer;
  }
}

.header__call-to-action {
  background-color: $main-color;
  border-radius: 10px;
  padding: 5px 15px;

  &:hover {
    background-color: $text-color-contrast;
    color: $text-color;
    cursor: pointer;
  }

  transition: background-color 0.5s, color 0.5s;
}

header .logo {
  height: 28px;

  &:hover {
    cursor: pointer;
  }
}

.header__sidenav {
  width: 128px;
  position: fixed;
  z-index: 1;
  top: 82px;
  right: 24px;
  background-color: #e8e8e8;
  color: $text-color;
  border-radius: 4px;
}

.header__burger {
  display: block;
  width: 32px;
  height: 32px;
  margin: 6px 0;
}
