@use "../base/vars";

.headband {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: vars.$headband-height;
  background-color: vars.$main-color-darker;
  padding: vars.$spacing-x-small vars.$spacing-small;
}

.headband__information {
  color: vars.$text-color-contrast;
  font-size: vars.$text-size-small;
}
