.headband {
  @extend %flex-between;
  align-items: center;
  height: $headband-height;
  background-color: $main-color-darker;
  padding: $spacing-x-small $spacing-small;
}

.headband__information {
  color: $text-color-contrast;
  font-size: $text-size-small;
}
