.headband {
  height: 28px;
  background-color: $main-color-darker;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.headband__information {
  color: $text-color-contrast;
  font-size: 12px;
}