.line {
  width: 100%;
  background-color: $text-color;
}

.line--contrasted {
  @extend .line;
  background-color: $text-color-contrast;
}

.line--colored {
  @extend .line;
  background-color: $main-color;
}
