.line {
  height: 1px;
  width: 100%;
  background-color: $text-color;
}

.line--contrasted {
  background-color: $text-color-contrast;
}

.line--colored {
  background-color: var(--color-primary);
}
