@use "../base/mixins";
@use "../base/vars";

.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-size: cover;
  background-position: center;
  position: relative;

  .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: vars.$spacing-medium;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .title {
    font-size: vars.$text-size-huge;
    line-height: vars.$text-size-huge;
    @include mixins.text-site(
      vars.$laptop-width,
      vars.$text-size-xxx-large,
      vars.$text-size-xxx-large
    );
    @include mixins.text-site(
      vars.$tablet-width,
      vars.$text-size-xx-large,
      vars.$text-size-xx-large
    );
    @include mixins.text-site(
      vars.$mobile-width,
      vars.$text-size-x-large,
      vars.$text-size-x-large
    );
  }
}
