.shiny-button {
  background-color: $main-color;
  border-radius: 4px;
  padding: 5px 15px;
  text-transform: uppercase;

  &:hover {
    background-color: $text-color-contrast;
    color: $text-color;
    cursor: pointer;
  }

  transition: background-color .5s, color .5s;
}