@use "../base/vars" as vars;

.shiny-button {
  background-color: vars.$main-color;
  padding: vars.$spacing-x-small vars.$spacing-small;
  border-radius: 4px;
  text-transform: uppercase;
  transition: background-color 0.5s, color 0.5s;

  &:hover {
    background-color: vars.$text-color-contrast;
    color: vars.$text-color;
  }
}
#buy-ticket {
  @media screen and (max-width: vars.$mobile-width) {
    margin: 4px 8px;
  }
}
