.shiny-button {
  background-color: var(--color-primary);
  border-radius: 4px;
  padding: 5px 15px;
  text-transform: uppercase;

  &:hover {
    background-color: var(--color-text-contrast);
    color: var(--color-text);
    cursor: pointer;
  }

  transition: background-color .5s, color .5s;
}