@use "../base/vars";
@use "../base/mixins";

.speaker {
  .speaker-photo {
    object-fit: cover;
    border-radius: 125px 125px 10px 125px;

    @media screen and (max-width: vars.$mobile-width) {
      max-width: 160px;
    }

    @media screen and (min-width: vars.$mobile-width) {
      position: sticky;
      max-width: 200px;
      top: 20px;
    }
  }

  svg {
    fill: vars.$main-color;
    width: 24px;
    vertical-align: top;
    margin-right: 8px;
  }

  .speaker-data {
    display: flex;
    gap: vars.$spacing-large;
    margin-top: 32px;
    align-items: flex-start;

    @media screen and (max-width: 650px) {
      flex-direction: column;
      align-items: center;
    }
  }
}
