.speaker-modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $background-color;

  display: flex;
  align-items: center;
  justify-content: center;

  animation: slideIn 0.25s;
}

.speaker-modal__container {
  width: 800px;
  @extend %flex-column;
  gap: 60px;
}

.speaker-modal__close {
  position: absolute;
  left: 50px;
  top: 50px;
  font-size: $text-size-x-huge;
  line-height: 20px;
  color: $text-color;

  &:hover {
    opacity: 0.8;
    font-size: $text-size-huge;
    left: 52px;
    top: 52px;
    cursor: pointer;
  }

  transition: opacity 0.5s, font-size 0.5s, left 0.5s, top 0.5s;
}

.speaker-modal__header {
  display: flex;
  align-items: center;
  gap: 60px;
}

.speaker-modal__photo {
  object-fit: cover;
  border-radius: 125px 125px 10px 125px;
}

.speaker-modal__title {
  @extend %flex-column;
}

.speaker-modal__speaker__name {
  font-weight: 700;
  font-size: $text-size-xx-huge;
  line-height: 110px;
  color: $main-color-darker;
}

.speaker-modal__speaker__job, .speaker-modal__speaker__company {
  font-weight: 400;
  font-size: $text-size-huge;
  line-height: 60px;
  color: $text-color;
}

.speaker-modal__section__title {
  font-weight: $text-bold-weight;
  font-size: $text-size-large;
  line-height: 70px;
  color: $main-color-darker;
}
