.sponsor-logo {
  width: auto;
}

.sponsor-logo--platinum {
  height: 233px;
}

.sponsor-logo--gold {
  height: 144px;
}

.sponsor-logo--silver {
  height: 89px;
}

.sponsor-logo--community {
  height: 89px;
}

.sponsor-logo--love {
  height: 55px;
}
