%sponsor-logo {
  width: auto;
  
}
.sponsor-logo-platinum {
  @extend %sponsor-logo;
  height: 160px;
}

.sponsor-logo-gold {
  @extend %sponsor-logo;
  height: 128px;
}

.sponsor-logo-silver {
  @extend %sponsor-logo;
  height: 96px;
}

.sponsor-logo-community {
  @extend %sponsor-logo;
  height: 96px;
}

.sponsor-logo-love {
  @extend %sponsor-logo;
  height: 64px;
}

