@use "../base/vars";

.tabs-outer {
  display: flex;
  flex-direction: column;
  gap: 1em;

  .tabs-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: vars.$background-color;
    z-index: 10;
    font-size: 2.5em;

    & > div {
      flex: 1 1 0;
      max-width: max-content;
    }

    .tab button {
      float: left;
      padding: 8px;
      transition: 0.3s;

      &:hover {
        background-color: #ddd;
      }

      &:active {
        background-color: #ccc;
      }
    }
  }

  .tabs-content {
    .tab-content {
      padding: 2em 1em;
      display: flex;
      flex-direction: column;
      gap: 2em;
    }
  }


  .body {
    max-height: 200px;
  }
}
