@use "../base/vars";

.tabs-outer {
  display: flex;
  flex-direction: column;
  gap: 1em;

  .tabs-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: vars.$background-color;
    z-index: 10;
    font-size: 2.5em;

    &.inline {
      display: none;
    }

    &.dropdown {
      display: inline-block;
      > button {
        svg {
          width: 0.5em;
          rotate: 90deg;
          transition: transform 0.5s ease;
        }
      }
      .svg-rotate {
        svg {
          transform: rotate(-90deg);
        }
      }
    }

    @media screen and (min-width: vars.$tablet-width) {
      &.inline {
        display: flex;
      }
      &.dropdown {
        display: none;
      }
    }

    .tab {
      float: left;
      padding: 8px;
      transition: 0.3s;

      &:hover {
        background-color: #ddd;
      }

      &:active {
        background-color: #ccc;
      }
    }
  }

  .tabs-content {
    .tab-content {
      display: flex;
      flex-direction: column;
      gap: 2em;
    }
  }

  .body {
    max-height: 200px;
  }
}
