@use "../base/vars";

.tabs-outer {
  display: flex;
  flex-direction: column;
  gap: 1em;

  .tabs-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: vars.$background-color;
    z-index: 10;
    font-size: 1.5em;

    .dropdown {
      position: relative;
    }

    .dropdown-content {
      position: absolute;
      z-index: 99;
      background-color: #e8e8e8;
      flex-direction: column;
      align-items: start;

      > button {
        margin-left: 0.5em;
        font-size: 0.75em;
      }
    }

    @media screen and (min-width: vars.$tablet-width) {
      &.inline {
        display: block;
      }
      &.dropdown {
        display: none;
      }
    }

    @media screen and (max-width: vars.$tablet-width) {
      &.inline {
        display: none;
      }
      &.dropdown {
        display: block;
      }
    }

    @media screen and (min-width: vars.$mobile-width) {
      font-size: 2.5em;
    }

    & > div {
      flex: 1 1 0;
      max-width: max-content;
    }

    .tab button {
      float: left;
      padding: 8px;
      transition: 0.3s;

      &:hover {
        background-color: #ddd;
      }

      &:active {
        background-color: #ccc;
      }
    }
  }

  .tabs-content {
    .tab-content {
      display: flex;
      flex-direction: column;
      gap: 2em;
    }
  }

  .body {
    max-height: 200px;
  }
}
