@use "../base/vars" as vars;

.talks-list {
  .card-container {
    grid-template: auto / repeat(auto-fill, minmax(min(280px, 100%), 1fr));
  }

  .body {
    max-height: 200px;
  }
}

.talk {
  > .card-container {
    grid-template: auto / repeat(auto-fill, minmax(min(650px, 100%), 1fr));
    margin-bottom: 1rem;
  }

  @media screen and (min-width: vars.$desktop-width) {
    .speaker {
      flex: 1 1 45%;
    }
  }

  .talk-description {
    margin-bottom: 2rem;
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 64px;
    margin-top: 8px;

    svg {
      fill: vars.$main-color;
      stroke: vars.$main-color;
      width: 24px;
      height: 24px;
    }

    a {
      color: vars.$main-color;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
