@use "../base/vars"
  
.talks-list
  .talk-card
    justify-content: space-between

  .card-container
    grid-template: auto / repeat(auto-fill, minmax(min(280px, 100%), 1fr))

  .card-container:first-of-type
    margin-bottom: 64px
