@use "../base/vars";
@use "../base/mixins";

.page-title {
  font-size: 50px;
  line-height: vars.$title-line-height;
  display: inline-block;
  position: relative;
  margin-bottom: 32px;

  @include mixins.belowBar(vars.$main-color, 60%, 6px);
}

.page-title:not(:first-of-type) {
  margin-top: 32px;
}

.subtitle {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 4px;
}

.content-title {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 8px;
  font-weight: bold;
  display: inline-block;
  position: relative;

  @include mixins.belowBar(vars.$main-color, 60%, 2px);
}
