.title {
  font-size: 50px;
  line-height: 68px;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}

.title:before {
  content: '';
  position: absolute;
  bottom: -2px;
  height: 6px;
  border-radius: 3px;
  width: 60%;
  background: $main-color;
  z-index: -1;
}
