@use "../base/vars";

.page-title {
  font-size: 50px;
  line-height: vars.$title-line-height;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;

  &:before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 6px;
    border-radius: 3px;
    width: 60%;
    background: vars.$main-color;
  }
}

.subtitle {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 4px;
}

.content-title {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 8px;
  font-weight: bold;
  display: inline-block;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 6px;
    border-radius: 3px;
    width: 60%;
    background: vars.$main-color;
  }
}
