@use "../base/vars" as vars;
@use "../base/mixins" as mixins;

.page-title {
  font-size: 50px;
  line-height: vars.$title-line-height;
  display: inline-block;
  position: relative;
  margin-bottom: 32px;

  @include mixins.belowBar(vars.$main-color, 60%, 6px);
}

.page-title:not(:first-of-type) {
  margin-top: 32px;
}

.page-subtitle {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 4px;
}

.content-title {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 8px;
  font-weight: 500;
  display: inline-block;
  position: relative;

  @include mixins.belowBar(vars.$main-color, 60%, 2px);
}

.content-title:not(:first-of-type) {
  margin-top: 32px;
}

.small-title {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 4px;
}

.bold-title {
  font-weight: bold;
}

.list-title,
.paragraph-title {
  font-weight: bold;
  margin-right: 12px;
  color: vars.$main-color;
}

h1 ~ h2 {
  margin-top: 0.5em;
}

h2 ~ h3 {
  margin-top: 0.2em;
}
