@use "../base/vars" as vars;

.separator {
  color: vars.$text-color-contrast;
  margin-top: vars.$spacing-large;
  margin-bottom: vars.$spacing-large;
  background-color: vars.$main-color-darker;
  width: 100%;

  .page-title {
    &::before {
      background: vars.$text-color-contrast;
    }
  }
}
