@use "../base/vars";
@use "../base/mixins";

$speaker-data-threshold: 650px;

.speaker-view {
  .photo {
    object-fit: cover;
    border-radius: 125px 125px 10px 125px;

    @media screen and (max-width: $speaker-data-threshold) {
      max-width: 160px;
    }

    @media screen and (min-width: $speaker-data-threshold) {
      max-width: 200px;
      position: sticky;
      top: 20px;
    }
  }

  svg {
    width: 24px;
    height: 24px;
  }

  .svg-list {
    svg {
      fill: vars.$main-color;
      stroke: vars.$main-color;
    }

    > div {
      display: flex;
      align-items: center;
      gap: 8px
    }
  }

  .socials {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    a {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .data {
    display: flex;
    gap: vars.$spacing-large;
    margin-top: 32px;
    align-items: flex-start;

    @media screen and (max-width: $speaker-data-threshold) {
      flex-direction: column;
      align-items: center;
    }
  }
}
