name: Publish to preprod

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    name: Deploy the website in preproduction
    runs-on: alpine-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: coursier/setup-action@v1.3.4
      with:
        jvm: adoptium:1.17.0.7
        apps: sbt
    - name: Build static website
      uses: nick-fields/retry@v2
      with:
        timeout_minutes: 5
        max_attempts: 3
        command: |
          npm install
          npx sass src/main/resources/css/main.scss src/main/resources/css/output.css
          sbt "compile; fullLinkJS"
          npm run build
    - name: Deploy the website in preproduction
      run: |
        npm install -g clever-tools 
        mv dist dist-prod
        git config --global user.email ${{ secrets.GIT_EMAIL }}
        git config --global user.name ${{ secrets.GIT_NAME }}
        git add .
        git commit -m "chore: forward changed to preprod"
        clever login --token ${{ secrets.CLEVER_TOKEN }} --secret ${{ secrets.CLEVER_SECRET }}
        clever link ${{ secrets.CLEVER_APP_ID_PREPROD}}
        clever deploy --force