name: Publish to prod

on:
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy the website in production
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: coursier/setup-action@v1.3.4
      with:
        jvm: adoptium:1.17.0.7
        apps: sbt
    - name: Build static website
      uses: nick-fields/retry@v2
      with:
        timeout_minutes: 5
        max_attempts: 3
        command: |
          npm install
          npx sass public/assets/css/main.scss public/assets/css/output.css
          sbt "compile; fullLinkJS"
          npm run build
    - name: Deploy the website in production
      run: |
        npm install -g clever-tools 
        mv dist dist-prod
        git config --global user.email ${{ secrets.GIT_EMAIL }}
        git config --global user.name ${{ secrets.GIT_NAME }}
        git add .
        git commit -m "chore: forward changed to prod"
        clever login --token ${{ secrets.CLEVER_TOKEN }} --secret ${{ secrets.CLEVER_SECRET }}
        clever link ${{ secrets.CLEVER_APP_ID_PROD}}
        clever deploy --force